.DS_Store
.merlin
.bsb.lock
npm-debug.log
/lib/bs/
/node_modules/

*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock

.cache/
dist/
lib/
.vscode
node_modules/

**/*.bs.js